// **********************************************
// _extends.scss
// **********************************************


%centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%padding-left{
  padding-left: 20px;
}



//Button and grid styles

%btn {
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: $br;
  border-style: none;
}
// Links







// Images




//Nav Items
