// **********************************************
// _mixins.scss
// **********************************************

// Element

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

// Modifier

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Text
@mixin text ($size, $l-height:null, $weight:null, $color:null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}


// Media Queries
@mixin mq ($break) {
  @if $break == "narrow" {
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
        @content;
    }
  }
  @else if $break == "wide" {
    @media (min-width: $brkpoint-md + 1) {
      @content;
    }
  }
}

// Theme UI $ui-colors

@mixin bg-color ($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
      @content;
    }
  }

}

// Flex

@mixin flex($disp: flex, $dir:row, $wrap:nowrap, $just:null, $alignI:null, $alignC:null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $alignI;
  align-content: $alignC;
}
