// **********************************************
// _variables.scss
// **********************************************



//Descriptive color variables

$grey          : #858585;
$white         : #ffffff;
$malibu-blue   : #51ddfc;
$emerald       : #62cc6f;
$blush         : #e4757a;
$coral         : #fd7856;
$purple-majesty: #927ac1;
$riptide       : #80e8d1;
$french-lilac  : #deb2ee;
$baby-blue     : #7ee6fd;
$algae-green   : #88dda2;
$steel-blue    : #428fb3;
$sea-pink      : #ec9ea3;
$salmon        : #fa9675;




// Text
$color-text: $grey;
$color-link-visited: $white;
$bg-color-link-visited: $riptide;



// UI theme__colors
$ui-colors: (
  'login': $malibu-blue,
  'default': $malibu-blue,
  'success': $emerald,
  'error': $blush,
  'warning': $coral,
  'info': $purple-majesty
);

$grid-colors: (
  '3':  $french-lilac,
  '4':  $baby-blue,
  '5':  $algae-green,
  '6':  rgba($steel-blue, .7),
  '7':  $sea-pink,
  '8':  $salmon,
  '12': $riptide
);

//Fonts

$stack-sans-serif: 'Roboto', sans-serif;
$base-text-size: 17px;


$font-weight--light: 300;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

//Asset Paths

$path-img: '../img';


//Breakpoints

$brkpoint-sm  :1px;
$brkpoint-md  :767px;


//Border-Radius
$br: 5px;
