// **********************************************
// _forms.scss
// **********************************************

.form {
  @include e(label) {
    @include m(hidden) {
      @extend .srt;
    }
  }
  @include e(input) {
    @include text($size:16px, $weight:$font-weight--bold, $color:$color-text);
    display: block;
    width: 95%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 auto;
    border: none;
    border-bottom: 8px solid $riptide;
    background-color: $white;
    &:not(:last-of-type) {
      margin-bottom: 1em;
      }
    @include mq(wide) {
      border-bottom-width: 6px;
    }
    }
  }
