// **********************************************
// _images.scss
// **********************************************

img {
  @extend %centered;
}

.img {
  @include m(avatar) {
      padding-top: 20px;
      padding-bottom: 30px;
      @include mq(wide){
        max-width: 200px;
        padding: 10px;
      }

  }
  @include m(frame) {
    padding: 10px;
    border: 1px solid lighten($grey, 30%);
    width: 100%;
    margin-bottom: 20px;
    @include mq(wide) {
      margin-left: 20px;
    }
  }
}

@include mq(wide) {
  .img {
    @include m(logo) {
      width: 110px;
    }
  }
}
