// **********************************************
// _navigtion.scss
// **********************************************

nav {
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
      li a {
        display: block;
        padding: 10px;
        color: $color-text;
        text-decoration: none;
        font-size: 18px;
        &:hover,
        &:focus {
          background-color: $bg-color-link-visited;
          color: $color-link-visited;
          border-radius: $br;
        }
      }
   }
}
